{% load crispy_forms_tags %}
<div class="d-flex flex-column justify-content-between my-3 card bg-secondary text-white p-2 max-w-400px">
    <h3 class="text-center">Recomienda este Publicacion</h3>
    {% if not user.is_authenticated %}
        <p class="small mb-3">Inicia sesion para poder hacer recomendaciones</p>
        <a href="{% url 'login' %}" class="btn btn-primary btn-sm">
            Iniciar Sesion
        </a>
    {% else %}
        <form id="recomend-form" action="{% url 'post_share' post.id %}" method="post">
            {% crispy form %}
            <input type="submit" value="Recomendar" class="btn btn-primary btn-outline-dark float-end">
        </form>
    {% endif %}

</div>
