{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load blog_tags %}
{% load static %}

{% block script %}
    <script src="{% static 'blog/js/posts/sender.js' %}"></script>
{% endblock script %}
    

{% block title %}
    {{post.title}}
{% endblock title %}
    

{% block main %}
    <h1>{{post.title}}</h1>

    <div class="my-2 d-flex justify-content-between align-items-center">
        <h3>By {{post.author.username}}</h3>
        <h6 class="lead">{{post.publish}}</h5>
    </div>
    {{post.body | from_markdown }}

    <a href="{% url 'post_list' %}" class="btn btn-secondary mt-4">Volver a Todas las Publicaciones</a>

    
    <hr>

    <section id="forms">
        <div class="d-flex flex-wrap justify-content-center justify-content-md-between">
            {% include 'blog/posts/snippets/comment_form.html' with form=comment_form %}
            {% include 'blog/posts/snippets/share_form.html' with form=share_form %}
        </div>
    </section>
    
    <hr>
    <section id="comments">
    
    {% with total_comments=post.comments.count  %}
        <h4><span id="counter-comments">{{total_comments}}</span> Comentario{{total_comments | pluralize}}</h4>
    {% endwith %}

        
    {% for comment in comments %}
        <div class="my-2 p-2 card bg-secondary-subtle">
           <p class="small m-0 mb-1">
               Comentario {{forloop.counter}} realizado por {{comment.user}} en fecha {{comment.created}}
           </p> 
           <p class="m-0 lead">{{comment.body}}</p>
        </div>
    {% empty %}
        <p id="to-update">Nadie ha comentado, que te parece ser el primero? </p>
    {% endfor %}
    </section>
    
    <hr>
    
    {% if similar_posts %}
    <section id="similar_posts">
        <h3>Similar Posts</h3>
        {% include 'blog/posts/snippets/card_post_loop.html'  with posts=similar_posts %}
    </section>
    
    <hr>
    {% endif %}
    
{% endblock main %}
    