{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{post.title}}
{% endblock title %}
    

{% block main %}
    <h1>{{post.title}}</h1>

    <div class="my-2 d-flex justify-content-between align-items-center">
        <h3>By {{post.author.username}}</h3>
        <h6 class="lead">{{post.publish}}</h5>
    </div>
    {{post.body | linebreaks }}
    <p class="my-1">Original Created on {{post.created}}</p>
    <p class="my-1">Last time Updated on {{post.updated}}</p>
    <a href="{% url 'post_share' post.id %}" class="btn btn-primary">Recomend {{post.title}}</a>
    
    <hr>

    <section id="comments">
    <h3>Comment Section</h3>
    {% include 'blog/posts/snippets/comment_form.html' with post=post %}

    
    {% with total_comments=post.comments.count  %}
        <h4>{{total_comments}} Comment{{total_comments | pluralize}}</h4>
    {% endwith %}
        
    {% for comment in comments %}
        <div class="my-2">
           <p class="small">
               Comment {{forloop.counter}} by {{comment.name}} on {{comment.created}}
           </p> 
           <p class="m-0">{{comment.body}}</p>
        </div>
    {% empty %}
        <p>No Comments yet</p>
    {% endfor %}
    </section>
    
    <hr>
    
    {% if similar_posts %}
    <section id="similar_posts">
        <h3>Similar Posts</h3>
        {% include 'blog/posts/snippets/card_post_loop.html'  with posts=similar_posts %}
    </section>
    
    <hr>
    {% endif %}
    
    <a href="{% url 'post_list' %}"><h3>Come back to Post List</h3></a>
{% endblock main %}
    