{% extends 'blog/base.html' %}
{% load static %}
{% block script %}
    <script src="{% static 'blog/js/posts/search.js' %}"></script>
{% endblock script %}

{% block title %}
    All the Posts
{% endblock title %}
    

{% block header %}
<div class="d-flex flex-wrap-reverse align-items-center justify-content-center justify-content-lg-between mb-5 column-gap-2">
    <div class="w-400px-to-600px">
        <h1>Hola, soy Keiner. Bienvenido a mi Blog personal.</h1>
        <p class="lead sm-small md-normal">Soy Programador Web, soluciono problemas por medio del desarrollo de software. Me apasiona el desarrollo
            Backend y tambien tengo habilidades basicas de frontend, este Blog trata principalmente sobre eso, pero tambien trata
            sobre temas personales, espero te sientas a gusto, tus comentarios son bienvenidos.
        </p>
    </div>

    <figure class="max-w-400px">
        <img  id="keiner-photo" src="{% static 'blog/images/keiner.jpg' %}" alt="Fotografia de Perfil de Keiner Mendoza">
    </figure>
</div>
{% endblock header %}
    


{% block main %}
    <div class="mb-3 mx-auto w-max-300px">
        <h2>Buscar Post</h2>
        <form id="search-form" action="{% url 'search_post' %}">
            <input name="query" id="query" type="text" class="form-controll">
        </form>
    </div>
    <div id="search-container">
    </div>    
    
    <hr>
    
    {% if tag %}
    
        <h2 class="mb-4">Filtrando publicaciones por categoria: {{tag}}</h2>
        <a href="{% url 'post_list' %}" class="btn btn-secondary mb-4">Volver a Todas las Publicaciones</a>
    {% else %}
        <h2 class="mb-4">Todas las publicaciones</h2>

    {% endif %}
       
    <div id="post-list-container">
        {% include 'blog/posts/snippets/card_post_loop.html' with posts=posts %}
        {% include 'blog/pagination.html' with page=posts %}
    </div>
{% endblock main %}
    