{% extends 'blog/base.html' %}
{% load static %}
{% block script %}
<script src="{% static 'blog/js/card_post_loop.js' %}"></script>
<script src="{% static 'blog/js/paginator.js' %}"></script>
<script src="{% static 'blog/js/posts/list.js' %}"></script>
{% endblock script %}

{% block title %}
    All the Posts
{% endblock title %}
    

{% block main %}
    <h1>Wellcome to the Home Page</h1>
    {% if tag %}
        <h3>Filtering by tag: {{tag}}</h3>
    {% else %}
        <h2>Here you can find all the posts</h2>
    {% endif %}
    
    <!-- this two lines are for use javascript pagination -->
    <input type="hidden" value="{{posts | length}}" id="lenght">
    <input type="hidden" value="{% url 'published_posts' %}" id="published-endpoint">
    
            
    <div id="post-list-container">
        {% include 'blog/posts/snippets/card_post_loop.html' with posts=posts %}
        {% include 'blog/pagination.html' with page=posts %}
    </div>
{% endblock main %}
    