{% load static %}
{% load blog_tags %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    <script src="{% static 'blog/js/bootstrap.js' %}"></script>

    {% block script %}
    {% endblock script %}
        
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>

<body class="container-xxl py-3 mx-auto">
    
    {% block header %}
    {% endblock header %}
        
    <div class="row">
        <div class="col-12 col-md-8">
            {% block main %}
            {% endblock main %}
        </div>

        <div class="col-12 col-md-4">
            <div class="p-3 card bg-info-subtle sticky-md-top top-em float-end">
                <h2>Keiner's Blog</h2>
                <h4>Publicaciones Recientes</h4>
                {% get_latest_posts %}
                <hr>
                <h4>Publicaciones Mas Comentadas</h4>
                {% get_posts_most_commented %}
                <hr>
                <h4 class="m-0"><a class="nav-link" href="{% url 'posts_feed' %}">Sigueme via RSS</a></h4>
            </div>
        </div>

    </div>        
</body>
</html>