{% load static %}
{% load blog_tags %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=description content="Blog personal de Keiner Mendoza, Desarrollador Web con conocimiento de Python, JavaScript
    HTML/CSS y el Framework Django.">
    <meta
    property="og:image"
    content="{% static 'blog/images/keiner.jpg' %}" />
    <meta property="og:title" content="Blog de Keiner Mendoza" />
    <meta name="twitter:title" content="Blog de Keiner Mendoza" />
    <meta name="author" content="Keiner Mendoza">
    <meta name="keywords" content="Desarrollo de Software, Desarrollo Web, Python, Django, JavaScript, Backend, HTML, CSS">

    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    <script src="{% static 'blog/js/bootstrap.js' %}"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'blog/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'blog/icons/site.webmanifest' %}">

    {% block script %}
    {% endblock script %}
        
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>

<body class="container-xxl p-4 mx-auto">
    <header>
        <div class="d-flex align-items-center my-3 justify-content-between">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn btn-warning">
                    Cerrar Sesion
                </a>
                <p>Sesion iniciada como <b>{{user}}</b></p>
                
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-success">
                    Iniciar Sesion
                </a>
            {% endif %}
            
        </div>
        {% block header %}
        {% endblock header %}
    </header>
        
    <div class="row flex-wrap-reverse" >
        <div class="col-12 col-md-8">
            {% block main %}
            {% endblock main %}
        </div>

        <div class="col-12 col-md-4">
            <div class="p-3 card mb-5 bg-info-subtle sticky-md-top top-em float-none float-md-end z-0">
                <h2>Keiner's Blog</h2>
                <h4>Publicaciones Recientes</h4>
                {% get_latest_posts %}
                <hr>
                <h4>Publicaciones Mas Comentadas</h4>
                {% get_posts_most_commented %}
                <hr>
                <h4 class="m-0"><a class="nav-link" href="{% url 'posts_feed' %}">Sigueme via RSS</a></h4>
            </div>
        </div>
    </div>    
    <footer>
        <div id="toast-container" class="max-w-400px position-fixed sticky bottom-0 end-0 p-3">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show " role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
                
            {% endfor %}
            
                
            {% endif %}
            
        </div>
    </footer>    
</body>
</html>